.investment-list {   
    width: 100%;    
    text-align: right;
    background: #262228;
    box-shadow: 0px 5px 12.09px 0.91px rgba(0, 0, 0, 0.34);
    margin-bottom: 1.5rem;
    

    &--container{
        max-width: 50rem;
        margin: 5rem auto;        
        padding: 1rem;        
    }

    &--wrapper{
        overflow-x: auto;
    }

    th {
        color: #e4a101;
        text-transform: uppercase;
        font-weight: 800;
        padding: 1rem;
    }

    td {
        color: #cbcbcb;
        text-align: right;
        padding: 1rem;
    }
}
