form {
    padding: 1rem;
    max-width: 50rem;
    margin: 2rem auto;
    border-radius: 0.25rem;
}

.form-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-controls {
    position: relative;
    width: calc(100% - 2.5rem);

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &:before {
        left: -1.25rem;
        border-width: 0 0 3.125rem 1.25rem;
        border-color: transparent transparent #262228 transparent;
    }

    &:after {
        right: -1.25rem;
        border-width: 3.125rem 1.25rem 0 0;
        border-color: #262228 transparent transparent transparent;
    }
}

label {
    position:absolute;
    pointer-events:none;
    left: 0.938rem;
    top: 0.688rem;
    padding:0 0.313rem;
    transition:0.2s ease all;     
}

input {
    width: 100%;
    background: #262228;
    color: #fff;
    border: none;
    padding: 1.063rem 2.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    &:focus {
        outline: 0;
    }
    &:focus,
    &:not([value=""]) {
        ~ label {
            top:-0.75rem;
            font-size: 0.75rem;
            font-weight: 700; 
            background: #e4a101;
            color: #1c1121;
            transform: skew(-25deg, 0deg);
            padding: 0.125rem 0.5rem;            
            span {
                display: inline-block;
                transform: skew(25deg, 0deg);
            }
        }
    }
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
}

.form-error {
    margin-top: 1rem;
    text-align: center;
    color: #d71e18;
    font-size: .9rem;
}

button {
    border: none;
    color: #1c1121;
    font-size: 0.875rem;
    font-weight: 800;
    padding: 1.063rem 0.938rem;
    margin-left: 1.875rem;
    position: relative;
    cursor: pointer;
    transition: .3s linear;  
    background: #ffffff;  
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        transition: .3s linear;
    }
    
    &:before {
        left: -1.25rem;
        border-width: 0 0 3.313rem 1.25rem;
        border-color: transparent transparent #ffffff transparent;              
    }

    &:after {
        right: -1.25rem;
        border-width: 3.313rem 1.25rem 0 0;
        border-color: #ffffff transparent transparent transparent;        
    }

    &.primary {
        background: #e4a101;
        &:before {
            border-color: transparent transparent #e4a101 transparent;              
        }
    
        &:after {
            border-color: #e4a101 transparent transparent transparent;        
        }
        &:hover {
            &:before {
                border-color: transparent transparent #ffffff transparent;              
            }
        
            &:after {
                border-color: #ffffff transparent transparent transparent;        
            }
        }
    }

    &:hover {
        background: #fff;
        color: #e4a101;
    }
}

@media(min-width: 48rem) {
    .form-group {
        flex-direction: row;
        gap: 3rem;
    }
    .form-actions {
        flex-direction: row;
        width: 100%;        
        gap: 3rem;
    }
    button {
        min-width: 10rem;
        width: auto;
        margin: 0;
    }
}
