header {
    text-align: center;
    margin: 3rem auto;
    svg {
      max-width: 100%;
      width: 20rem;
      height: 20rem;
      object-fit: contain;
      background-color: transparent;
      color: #e4a101;
    }
}